---
import Layout from '../layouts/Layout.astro';
import Aboutus from '../components/Aboutus.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
	<main class="w-full min-h-screen text-white">
		<Navbar />
		<Aboutus />
	</main>
</Layout>