---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
	<main id="inicio" class="min-h-screen text-slate-900">

		<Navbar />
		<Welcome />
		<Footer />
	</main>
</Layout>
